html {
    background: #F7FFE5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #C4D7B2;
}

footer {
    background-color: #C4D7B2;
}