html {
    background: #F7FFE5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    background-color: #C4D7B2;
}

a {
    color: black;
}

img {
    border: 5px solid #E6E6FA;
    border-radius: 15px;
}

#index-footer {
    background-color: #C4D7B2;
    text-align: center;
    position: relative;
    top: 520px;
}

#about-footer {
    background-color: #C4D7B2;
    text-align: center;
    position: relative;
    top: 365px;
}

#resume-footer {
    background-color: #C4D7B2;
    text-align: center;
    position: relative;
}

#hobbies-footer {
    background-color: #C4D7B2;
    text-align: center;
    position: relative;
}